page-home {
.user{
    font-size: 100px;
    text-align: center;
}

.usercontainer{

    padding:10px;
    text-align: center;
}

h3{
    text-transform: capitalize;
}
ion-content {
  background: transparent !important;
}

.bg{
  background: transparent !important;
}
}
